{% extends layout('documentation') %}

{% block content %}
    <div id="documentation">
        <div class="container">

            {{ breadcrumb() }}

            {% for category in entries('documentation', 'categories').get() %}
                <div class="documentation__category mt-5">

                    <h2 class="mb-2">
                        <a href="{{ category.route('view') }}">{{ category.title }}</a>
                    </h2>

                    {% if category.description.value %}
                        <p>{{ category.description }}</p>
                    {% endif %}

                    {% set projects = category.projects().where('enabled', true).get() %}

                    {% include 'anomaly.module.documentation::partials/projects' with {'projects': projects} %}

                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}
