{% extends layout('documentation') %}

{% block content %}

    {% import 'anomaly.module.documentation::sections/content' as content %}

    <div class="container">

        <div class="row">
            <div class="col-lg-12">

                <div class="jumbotron text-center">

                    <h1>{{ project.title }}</h1>

                    {% if project.description.value %}
                        <p>{{ project.description }}</p>
                    {% endif %}

                </div>

            </div>
        </div>

        <div class="row">

            <aside class="col-lg-3">
                {{ documentation().depth(2)|raw }}
            </aside>

            <div class="col-lg-9">

                {%  cache project 600 %}
                    {{ content.make(version.content.top(), 1) }}
                {% endcache %}

            </div>

        </div>

    </div>

{% endblock %}
