<div class="modal-header">
    <button class="close" data-dismiss="modal">
        <span>&times;</span>
    </button>
    <h4 class="modal-title">{{ trans('module::message.choose_version') }}</h4>
</div>

<div class="modal-body">
    <ul class="nav nav-pills nav-stacked">
        {% for version in versions %}
            <li class="nav-item">
                <a href="{{ url_to('admin/documentation/pages/' ~ version.id) }}"
                   class="nav-link">
                    <strong>{{ version.name }}</strong>
                    <br>
                    <small>{{ version.description }}</small>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
