.copy-to-clipboard {

    top: 4px;
    right: 4px;
    width: 26px;
    height: 22px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-color: #f9f2f4;
    background-size: 18px 18px;
    border-radius: 0 2px 2px 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url('{{ img("anomaly.module.documentation::img/copy.svg").path }}');

    &:hover {
        background-color: #f9f2f4;
    }
}

code {

    + .copy-to-clipboard {
        top: -1px;
        vertical-align: middle;
        border-left: 0 !important;
        background-size: 16px 16px;
        font-size: inherit !important;

        &:hover {
            background-color: #f9f2f4;
        }
    }
}

pre {
    position: relative;

    .copy-to-clipboard {
        top: 4px;
        right: 4px;
        width: 30px;
        height: 26px;
        position: absolute;
        border-radius: 2px;
        background-color: #4d5257;
        background-size: 20px 20px;

        &:hover {
            background-color: #656c72;
        }
    }
}
