pre {
    border: 0;
    padding: 1rem;
    margin: 2rem 0;
    border-radius: 0;
    line-height: 1.15;
    background: #1d1f21;

    code {
        max-width: 100%;
    }

    &.display-inline-block {
        display: inline-block;
    }
}

pre[class*="language-"] {
    margin-bottom: 4rem !important;
    border-radius: 0;
}
