.anchorjs-link:hover {
    text-decoration: none;
}

.copy-to-clipboard {
    top: 0;
    right: 0;
    font-size: 12px;
    background: none;
    position: absolute;
    border-style: solid;
    padding: .25rem .5rem;
    outline: none !important;
    border-width: 0 0 1px 1px;
    color: rgba(255, 255, 255, 0.4);
    border-bottom-left-radius: 0.25rem;
    border-color: rgba(255, 255, 255, 0.25);

    &:hover {
        cursor: pointer;
        color: rgba(255, 255, 255, 1);
        border-color: rgba(255, 255, 255, 0.75);
    }

    &.copied {
        color: rgba(255, 255, 255, 0.3) !important;
        border-color: rgba(255, 255, 255, 0.25) !important;
    }
}

.documentation__sidebar {

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        ul {
            display: none;
            padding-left: 1rem;
        }

        li.active {
            ul {
                display: inherit;
            }
        }
    }

    > ul {
        > li {
            > a {
                text-transform: uppercase;
            }
        }
    }
}

.documentation__content {

    blockquote {
        border-radius: 0.25rem;

        p {
            padding: 0.75rem 1.25rem;

            code {
                color: #ffffff;
                padding: 0 .25rem;
                text-shadow: none !important;
                background: rgba(0, 0, 0, 0.15);
            }
        }

        &.tip,
        &.info {
            color: #ffffff;
            border-color: #0071eb;
            background-color: #007bff;
        }

        &.notice,
        &.danger {
            color: #ffffff;
            border-color: #ca313f;
            background-color: #dc3545;
        }

        &.notice,
        &.success {
            color: #ffffff;
            border-color: #259a3f;
            background-color: #28a745;
        }
    }

    p {
        margin-bottom: 1.5rem;
    }

    h1,
    h2,
    h3,
    h4 {
        padding-top: 2rem;
        margin-bottom: 1rem;
        padding-bottom: .5rem;
    }

    pre {
        position: relative;
        background: #1d1f21;
        border-radius: 0.25rem;
        padding: 2rem !important;
        margin: 2.0rem 0 !important;

        > code {
            background: #1d1f21;
            word-break: break-all !important;
            white-space: pre-wrap !important;
        }
    }
}

.documentation__sidebar {

}

.documentation__toc {
    font-size: 1rem;

    ol {
        margin: 0;
        padding: 0;
        list-style: none;

        &.is-collapsed {
            display: none;
        }

        li {
            line-height: 1.8;

            &:before {
                opacity: .3;
                content: "# ";
                margin-right: .25em;
            }
        }

        ol {
            padding-left: 2rem;

            li {
                font-size: 13px;
            }
        }
    }
}
