{% extends layout('documentation') %}

{% block content %}
    <div id="documentation">
        <div class="container">

            {{ breadcrumb() }}

            <h1 class="display-4 mt-5">{{ category.name }}</h1>

            {% if category.description.value %}
                <p class="lead">{{ category.description }}</p>
            {% endif %}

            {% include 'anomaly.module.documentation::partials/projects' with {'projects': category.projects.enabled()} %}

        </div>
    </div>
{% endblock %}
