{% extends layout('documentation') %}

{% block content %}
    <div id="documentation">
        <div class="container">

            {{ breadcrumb() }}

            <div class="jumbotron jumbotron-fluid mt-5">
                <div class="container">

                    <h1 class="display-4">{{ category.name }}</h1>

                    {% if category.description.value %}
                        <p class="lead">{{ category.description }}</p>
                    {% endif %}

                </div>
            </div>

            {% include 'anomaly.module.documentation::partials/projects' with {'projects': category.projects.enabled()} %}

        </div>
    </div>
{% endblock %}
