{% extends layout(page.data('layout', 'documentation')) %}

{% block content %}
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-2">
                <div class="documentation__sidebar documentation__sidebar--left">
                    {% include "anomaly.module.documentation::partials/controls" %}
                    {% include "anomaly.module.documentation::partials/search" %}
                    <hr>
                    {{ documentation()|raw }}
                </div>
            </div>

            <div class="col-lg-8">
                <div class="documentation__content">

                    {{ breadcrumb() }}

                    {{ page.content.value|markdown|raw }}

                </div>
            </div>

            <div class="col-lg-2">
                <div class="documentation__sidebar documentation__sidebar--right">
                    <div class="documentation__toc"></div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
