{% extends layout('documentation') %}

{% block content %}

    <div class="container">
        <div class="row">

            <div class="col-lg-3">
                {{ documentation() }}
            </div>

            <div class="col-lg-9">
                {{ content|raw }}
            </div>
        </div>
    </div>

{% endblock %}
